.skills_inner {
  display: flex;
  gap: 2em;
  padding-left: 2em;
}

.skills_tab {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  gap: 1em;
  list-style: none;
  position: relative;
  font-size: 1.2em;
}

.skills_tab::before {
  content: "";
  width: 3px;
  height: 135px;
  background-color: var(--color-pink);
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
}

.skills_tab_title {
  color: var(--text-gray);
  opacity: 0.3;
}

.active {
  color: var(--color-pink);
  font-weight: bold;
  opacity: 1;
}

.tab_line {
  width: 3px;
  height: 25px;
  background-color: var(--color-pink);
  position: absolute;
  left: 0;
  transition: top 0.3s ease-in-out;
}

.tab_content {
  flex: 1;
}
