.about_info {
  display: flex;
  padding-top: 3em;
  padding-left: 5em;
  gap: 2em;
}

.about_photo {
  position: relative;
  padding: 1.5em;
  opacity: 0;
  animation: fadeIn 1s forwards;

  & img {
    width: 250px;
    height: auto;
    z-index: 2;
    position: relative;
  }
}

#photo_box {
  border: 2px solid var(--text-black);
  width: 250px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.about_user {
  padding-top: 3em;

  & ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin-top: 2em;

    & li {
      font-size: 1.3em;
      animation: fadeIn 1s ease-out forwards;
      animation-delay: 1s;
      opacity: 0;
    }

    & span {
      margin-left: 0.5em;
    }
  }
}

.about_user ul li:nth-child(2) {
  animation-delay: 1.5s;
}

.about_user ul li:nth-child(3) {
  animation-delay: 2s;
}

.about_info_name {
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
  margin-bottom: 1em;
  animation: fadeIn 1s ease-out forwards;
  opacity: 0;

  & h1 {
    font-size: 3em;
  }

  & span {
    font-size: 2em;
  }
}

.about_text {
  line-height: 1.3em;
  margin-top: 2em;

  & h3 {
    margin: 0;
    font-size: 1.2em;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 2.5s;
    opacity: 0;
  }

  & p {
    margin-top: 1em;
    font-size: 1.2em;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 3s;
    opacity: 0;
  }
}
