@import "./reset.css";

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-pink: #d8aaab;
  --color-ivory: #e3e6e3;
  --color-gray: #7a7a7a;
  --color-purple: #4e4c67;
  --text-black: #333333;
  --text-cream: #f8f6f5;
  --text-gray: #c7c3d1;
}

body {
  font-family: "S-CoreDream-3Light";
  background-color:black
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-purple);
}

body::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: #3f3d56;
}

.section {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 85dvh;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  color: var(--text-cream);
}

.section.visible {
  opacity: 1;
}

.nav {
  animation: fadeIn 2s forwards;
  /* animation-delay: 5s; */
  opacity: 0;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  80% {
    width: 100%;
  }

  100% {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
